.location {
    width: 100%;
    
    margin-top: 18px;
    padding: 24px;

    background-color: #FFFFFF;

    border: 0.5px solid #7F8FA6;
    border-radius: 5px;
}

.name {
    font-weight: 500;
    font-size: 24px;
}

.info {
    margin-top: 12px;

    display: flex;
    flex-direction: row;

    font-weight: 400;
    font-size: 16px;
}

.info > div {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 18px;
}

.info > div > span {
    flex-shrink: 0;
}

.badge {
    width: 100px;
    height: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 4px;
    margin-right: 12px;

    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;

    border-radius: 5px;
    border: 0.5px solid #7F8FA6;
}

@media only screen and (max-width: 864px) {
    .info {
        margin-top: 4px;

        display: flex;
        flex-direction: column;
    }

    .info > div {
        margin-top: 12px;
    }
}

