.heading {
    margin: 0;

    font-weight: 600;
    font-size: 32px;
}

@media only screen and (max-width: 864px) {
    .header {
        flex-direction: column;
        justify-content: normal;
    }

    .search {
        margin-top: 16px;

        width: 100%;
    }
}